{% extends "base.html" %}

{% block content %}
<div class="site__body">
    <div class="block">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-lg-3 d-flex">
                    <div class="account-nav flex-grow-1">
                        <h4 class="account-nav__title">Навигация</h4>
                        <ul>
                            <li class="account-nav__item  account-nav__item--active ">
                                <a href="/static/lk">Редактирование профиля</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="/static/lk_pas">Безопасность</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="/static/logout">Выйти из аккаунта</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Редактирование профиля</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                    <div style="color: red">{{ message }}</div>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
                                        {{ form.csrf_token }}
                                        <div class="form-group">
                                            {{ form.avatar.label }}
                                            {{ form.avatar(class = "form-control") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.first_name.label }}
                                            {{ form.first_name(class = "form-control", placeholder = "Введите Имя") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.second_name.label }}
                                            {{ form.second_name(class = "form-control", placeholder = "Введите Фамилию") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.email.label }}
                                            {{ form.email(class = "form-control", placeholder = "Введите Почту") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.phone_number.label }}
                                            {{ form.phone_number(class = "form-control", placeholder = "Введите Телефон") }}
                                        </div>
                                        <div class="form-group mt-5 mb-0">
                                            {{ form.submit(type = "submit", class = "btn btn-primary", value = "Сохранить")}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}