{% extends "base.html" %}

{% block content %}
<div class="site__body">
    <div class="block">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 col-lg-3 d-flex">
                    <div class="account-nav flex-grow-1">
                        <h4 class="account-nav__title">Навигация</h4>
                        <ul>
                            <li class="account-nav__item">
                                <a href="/static/lk">Редактирование профиля</a>
                            </li>
                            <li class="account-nav__item account-nav__item--active">
                                <a href="/static/lk_pas">Безопасность</a>
                            </li>
                            <li class="account-nav__item ">
                                <a href="/static/logout">Выйти из аккаунта</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Смена пароля</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                    <div style="color: red">{{ message }}</div>
                                    <form action="" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.csrf_token }}
                                        <div class="form-group">
                                            {{ form.password_now.label }}
                                            {{ form.password_now(class = "form-control", placeholder = "Введите текущий пароль") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.password.label }}
                                            {{ form.password(class = "form-control", placeholder = "Введите новый пароль") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.password_again.label }}
                                            {{ form.password_again(class = "form-control", placeholder = "Введите снова новый пароль") }}
                                        </div>
                                        <div class="form-group mt-5 mb-0">
                                            {{ form.submit(type = "submit", class = "btn btn-primary mt-4", value = "Изменить")}}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}